@model Categoria

@{
    ViewData["Title"] = "Crear Categoria";
}

<h1>Crar categoria</h1>
<h5>La categoria nos permite indicar en qué gastamos nuestro dinero,
    también, de dónde provienen nuestros ingresos.
</h5>

<form form-action="Crear">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</form>
